h1{
	font-size: 90 px;
	color: purple;


}
#meow{
	font-size: 30px;
	color: blue;


}


body { 
  background: url(rko2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}